---
title: Location &amp; Hotels
---

<div class="location-and-hotels">
  <%= partial "header" %>
  <section class="page-intro">
    <div class="row">
      <div class="small-12 medium-8 columns">
        <h1>Meet us in Portland.</h1>
        <%# <p><a href="#">777 NE Martin Luther King Jr. Blvd</a></p> %>
        <p>We're back at the Oregon Convention Center, just 20 minutes from the Portland International Airport and blocks from our partnering hotels. EmberConf will take place upstairs in the Portland Ballroom and Lobby.</p>
      </p>
    </div>
    <div class="small-12 medium-4 large-3 large-offset-1 columns centered">
      <img src="images/tomster-in-oregon.jpg" class="round" alt="The Tomster is coming to Portland.">
    </div>
  </div>
</section>
<section class="map-container">
  <div id="map"></div>
</section>
<section class="hotels">
  <div class="row">
    <div class="small-12 columns">
      <h2>Get a discounted rate on a hotel or Airbnb.</h2>
    </div>
  </div>
  <ul class="row lodging-options">
    <li class="small-12 medium-6 columns lodging-option">
      <a href="https://www.ihg.com/crowneplaza/hotels/us/en/portland/pdxne/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.sp.nd.ct&qChld=0&qFRA=1&qGRM=0&qGrpCd=EMB&qIta=99801505&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505" target="_blank"><img src="images/hotels/crowne-plaza.jpg" alt="Crowne Plaza Hotel"></a>
      <h3>Crowne Plaza Hotel</h3>
      <p><a href="https://www.google.com/maps/place/Crowne+Plaza+Portland-Downtown+Conv+Ctr/@45.53364,-122.6665337,17z/data=!3m1!4b1!4m5!3m4!1s0x5495a74d6e3732f1:0xaf4ad1bc8d4f1d4!8m2!3d45.53364!4d-122.664345" target="_blank" class="address">1441 NE 2nd Ave • Portland</a></p>
      <ul>
        <li>
          <h5>1 bed</h5>
           <p>$189<span> and up</span></p>
        </li>
        <li>
          <h5>2 beds</h5>
           <p>$189<span> and up</span></p>
        </li>
      </ul>
      <a href="https://www.ihg.com/crowneplaza/hotels/us/en/portland/pdxne/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.sp.nd.ct&qChld=0&qFRA=1&qGRM=0&qGrpCd=EMB&qIta=99801505&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505" target="_blank" class="small-button round">Book on CrownePlaza.com</a>
    </li>
    <li class="small-12 medium-6 columns lodging-option">
      <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=EmberConf%20Overflow%5EPDXLC%60emcemca%60180%60USD%60false%604%603/26/17%603/29/17%603/2/17&app=resvlink&stop_mobi=yes" target="_blank"><img src="images/hotels/residence-inn.jpg" alt="Marriott Residence Inn"></a>
      <h3>Marriott Residence Inn</h3>
      <p><a href="https://www.google.com/maps/place/Residence+Inn+by+Marriott+Portland+Downtown%2FLloyd+Center/@45.5310165,-122.6501815,17z/data=!3m1!4b1!4m5!3m4!1s0x5495a0b67e8b688b:0x3c2ad71d9d6e19d1!8m2!3d45.5310165!4d-122.6479928" target="_blank" class="address">1710 NE Multnomah • Portland</a></p>
      <ul>
        <li>
          <h5>1 bed</h5>
           <p>$180<span> and up</span></p>
        </li>
        <li>
          <h5>2 beds</h5>
           <p>$180<span> and up</span></p>
        </li>
      </ul>
      <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=EmberConf%20Overflow%5EPDXLC%60emcemca%60180%60USD%60false%604%603/26/17%603/29/17%603/2/17&app=resvlink&stop_mobi=yes" target="_blank" class="small-button round">Book on Marriott.com</a>
    </li>
  </ul>
  <ul class="row lodging-options">
    <li class="small-12 medium-6 columns lodging-option">
      <a href="http://doubletree.hilton.com/en/dt/groups/personalized/R/RLLC-DT-EC3-20160328/index.jhtml?WT.mc_id=POG" target="_blank"><img src="images/hotels/doubletree.jpg" alt="The DoubleTree Hotel"></a>
      <h3>DoubleTree Hotel | Sold Out</h3>
      <p><a href="https://www.google.com/maps/place/DoubleTree+by+Hilton+Portland/@45.5307109,-122.6577517,17z/data=!3m1!4b1!4m2!3m1!1s0x5495a0b3b9a22425:0xe44c336d8ce0b5c4" target="_blank" class="address">1000 NE Multnomah • Portland</a></p>
      <ul>
        <li>
          <h5>1 bed</h5>
           <p>$189<span> and up</span></p>
        </li>
        <li>
          <h5>2 beds</h5>
           <p>$199<span> and up</span></p>
        </li>
      </ul>
      <a href="http://doubletree.hilton.com/en/dt/groups/personalized/R/RLLC-DT-EC4-20170326/index.jhtml?WT.mc_id=POG" target="_blank" class="small-button round">SOLD OUT on Hilton.com</a>
      <p class="fine-print">Rooms sell out quickly, so reserve soon to be sure you're staying with the rest of us.</p>
    </li>
    <li class="small-12 medium-6 columns lodging-option">
      <a href="http://www.airbnb.com/c/lsilber1" target="_blank"><img src="images/hotels/airbnb.jpg" alt="AirBnb"></a>
      <h3>Airbnb</h3>
      <p>300+ Locations</p>
      <p>Thinking about trying an AirBnb this time? Use our link for <strong>$35 off</strong> your first booking!</p>
      <a href="http://www.airbnb.com/c/lsilber1" class="small-button round" target="_blank">Book on Airbnb.com</a>
    </li>
</ul>
</section>

<%# Hide this section %>
<% if false %>
<section class="airlines">
  <div class="row">
    <div class="small-12 columns">
      <hr class="body-hr">
      <h2>Flying to Portland? Use our promo codes.</h2>
      <p>We've negotiated discounts for those flying between March 23 and April 5.</p>
    </div>
  </div>
  <div class="row">
    <ul class="small-12 columns">
      <% data.location_and_hotels.airlines.each do |airline| %>
      <li>
        <hr class="body-hr">
        <div class="airline-logo">
          <img src="images/<%=airline.image%>" alt="<%=airline.name%>">
        </div>
        <p class="promo-code"><%= airline.promo_code %></p>
        <p class="discount"><%= airline.discount %></p>
        <p><a href="http://<%= airline.booking_link %>" target="_blank" class="small-button round">Book now!</a></p>
      </li>
      <% end %>
    </ul>
  </div>
</section>
<% end %>

<section class="directions">
  <div class="row">
    <div class="small-12 columns">
      <hr class="body-hr">
      <h2>Getting to the Convention Center.</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns end">
      <ul>
        <% data.location_and_hotels.directions.each do |direction| %>
        <li>
          <img src="images/directions/<%= direction.image %>" alt="<%= direction.title %>">
          <div>
            <h4><%= direction.title %></h4>
            <p><%= direction.details %></p>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>
<section class="transportation">
  <div class="row">
    <div class="small-12 columns">
      <hr class="body-hr">
      <h2>Transportation info.</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <ul class="row collapse">
        <% data.location_and_hotels.transportation.each do |mode| %>
        <li class="small-12 large-4 columns">
          <img src="images/transportation/<%= mode.image %>" alt="<%= mode.title %>">

          <div>
            <h4><%= mode.title %></h4>
            <p><%= mode.details %></p>
          </div>

        </li>
        <% end %>
      </ul>
    </div>
  </div>
</section>


<%= partial "footer" %>
</div>
<script>
function initMap() {
  var occ = {lat: 45.5280879, lng: -122.6630186};
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 14,
    draggable: false,
    scrollwheel: false,
    center: occ
  });
  google.maps.event.addListenerOnce(map,"projection_changed", function() {
    map_recenter(map, occ, 0, -65);
  });

  var contentString = '<div id="content" class="map-card" style="font-family: Poppins, sans-serif; padding: .8em;">'+
  '<div id="siteNotice">'+
  '</div>'+
  '<h3 style="margin-bottom: .125em;">The Oregon Convention Center</h3>'+
  '<p>777 NE Martin Luther King Jr Blvd<br>'+
  'Portland, OR 97232</p>'+
  '<p class="call-to-action"><a href="https://maps.google.com?saddr=Current+Location&daddr=Oregon+Convention+Center,+777+NE+Martin+Luther+King+Jr+Blvd,+Portland,+OR+97232" target="_blank">Get directions</a></p>'+
  '</div>';
  var infowindow = new google.maps.InfoWindow({
    content: contentString,
    pixelOffset: new google.maps.Size(0, 15),
  });

  var marker = new google.maps.Marker({
    position: occ,
    map: map,
    title: 'The Oregon Convention Center',
  });

  infowindow.open(map, marker);


  google.maps.event.addDomListener(window, "resize", function() {
    var center = map.getCenter();
    google.maps.event.trigger(map, "resize");
    map.setCenter(center);
  });
}
function map_recenter(map,latlng,offsetx,offsety) {
  console.log('a');
  console.log(map.getProjection());
  var point1 = map.getProjection().fromLatLngToPoint(
    (latlng instanceof google.maps.LatLng) ? latlng : map.getCenter()
  );
  var point2 = new google.maps.Point(
    ( (typeof(offsetx) == 'number' ? offsetx : 0) / Math.pow(2, map.getZoom()) ) || 0,
    ( (typeof(offsety) == 'number' ? offsety : 0) / Math.pow(2, map.getZoom()) ) || 0
  );
  map.setCenter(map.getProjection().fromPointToLatLng(new google.maps.Point(
    point1.x - point2.x,
    point1.y + point2.y
  )));
}
</script>

<% if environment == :development %>
  <script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap" async defer></script>
<% else %>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvPwZHdhafPobLxG8sWcqdhGuchcpkMF0&signed_in=true&callback=initMap" async defer></script>
<% end %>
